#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	cmake -S system -B system/build_genericjs -DCMAKE_INSTALL_PREFIX=$(CURDIR)/debian/cheerp-libs/opt/cheerp -DCMAKE_TOOLCHAIN_FILE=/opt/cheerp/share/cmake/Modules/CheerpToolchain.cmake -DCMAKE_BUILD_TYPE=Release .
	cmake -S system -B system/build_asmjs -DCMAKE_INSTALL_PREFIX=$(CURDIR)/debian/cheerp-libs/opt/cheerp -DCMAKE_TOOLCHAIN_FILE=/opt/cheerp/share/cmake/Modules/CheerpWasmToolchain.cmake -DCMAKE_BUILD_TYPE=Release .

override_dh_auto_build:
	make -B -C webgles
	make -B -C stdlibs
	make -C system/build_genericjs
	make -C system/build_asmjs

override_dh_auto_install:
	mkdir -p $(CURDIR)/debian/cheerp-libs/opt/cheerp/lib/genericjs
	mkdir -p $(CURDIR)/debian/cheerp-libs/opt/cheerp/lib/asmjs
	make -C webgles install INSTALL_PREFIX=$(CURDIR)/debian/cheerp-libs/opt/cheerp CHEERP_PREFIX=/opt/cheerp
	make -C wasm install INSTALL_PREFIX=$(CURDIR)/debian/cheerp-libs/opt/cheerp CHEERP_PREFIX=/opt/cheerp
	make -C stdlibs install INSTALL_PREFIX=$(CURDIR)/debian/cheerp-libs/opt/cheerp CHEERP_PREFIX=/opt/cheerp
	make -C system/build_genericjs install
	make -C system/build_asmjs install

override_dh_installdocs:
	install -d debian/cheerp-libs/usr/share/doc/cheerp-libs/
	cp --reflink=auto -a LICENSE.TXT debian/cheerp-libs/usr/share/doc/cheerp-libs/LICENSE.TXT.cheerp-libs.gz
	dh_installdocs
